services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Ekino\NewRelicBundle\Listener\RequestListener:

    Ekino\NewRelicBundle\Listener\ResponseListener:
